@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Poppins", serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-brand {
    font-family: "Silkscreen", sans-serif;
    font-size: 2rem;
}

.card-backlight:hover {
    box-shadow: 0px 0px 40px -5px rgba(255, 255, 255, 1);
    transition: all 0.2s ease-in-out;
}

.game-card:hover .card-image {
    opacity: 0.75;
    transform: scale(1.05);
}
